HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE files
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Environment variables
.env

# Maven files
/.mvn/
/*.jar
/*.war

# Build directories
/target/
/build/

# Logs and temporary files
*.log
*.tmp
*.temp

# Compiled class files
*.class

# Operating system files
.DS_Store
Thumbs.db